svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .blue-curved-container {
    height: 20px;
  }

.blue-curved{
  /* width: 100px;
  height: 500px; */
    z-index: 0;
    opacity: .1;
    position: absolute;
    fill: #629a6e;
}

.green-circle {
    z-index: 9 !important;
    opacity: .4;
    width: 7%;
    height: 8%;
    border-radius: 50%;
    background: #71C9D5;
    position: absolute;
    left: 94%;
    top: 23%;
    transform: translate3d(-50%, 0, 0);
	/* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); */
}

.purple-circle-bottom {
  z-index: 9 !important;
  opacity: .2;
  width: 7%;
  height: 8%;
  border-radius: 50%;
  background: rgb(162, 153, 211);
  position: absolute;
  left: .5%;
  top: 84%;
  transform: translate3d(-50%, 0, 0);
/* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); */
}

.purple-circle {
    z-index: 4 !important;
    opacity: .3;
    width: 22%;
    height: 30vh;
    position: absolute;
    border-radius: 50%;
    background: #C4BDE0;
    left: 105%;
    top: 16vh;
    transform: translate3d(-50%, 0, 0);
    border: none;
}

@media only screen and (max-width: 750px) { 
  .purple-circle  { 
    display: none !important;
  } 
  .green-circle {
    display: none !important;
  }
}