svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .squiggle-container {

  }

.squiggle{
    z-index: 0;
    opacity: .7;
    position: absolute;
    fill: #D7F0F3;
	  /* box-shadow: 0px 5px 90px rgba(99, 96, 96, 0.3); */
}

.green-circle {
    z-index: 9 !important;
    opacity: .4;
    width: 7%;
    height: 10%;
    border-radius: 50%;
    background: #71C9D5;
    position: absolute;
    left: 93%;
    top: 28%;
    transform: translate3d(-50%, 0, 0);
	/* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); */
}

.purple-circle {
    z-index: 4 !important;
    opacity: .6;
    width: 28%;
    height: 40vh;
    position: absolute;
    border-radius: 50%;
    background: #C4BDE0;
    left: 105%;
    top: 16vh;
    transform: translate3d(-50%, 0, 0);
    border: none;
}

