

html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

@font-face {
  font-family: "Coves";
  src: url("/assets/fonts/Coves.otf");
}
@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Thin.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Poppins");
